<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/static/home_common.css">
</head>
<body>
    <ul>
        <li><a href="/home/mycompany/" class="active">My Company</a></li>
        <li><a href="/home/finance/">Finance</a></li>
        <li><a href="/home/flight/">Flight</a></li>
        <li><a href="/home/plane/">Plane</a></li>
        <li><a href="/home/airport/">Airport</a></li>
        <li><a href="/home/ads/">Advertisement</a></li>
    </ul>
</body>
</html>