<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function signin() {
            window.location.href = "/signin/"
        }

    </script>
	<title>Airline CEO</title>
</head>
<body>
	<div class="container" align="center">
		<div class="row" style="margin-top: 3em;">
			<h1>Welcome to Airline CEO!</h1>
			<p>This is a airline simulation game where you can build up your own airline, managing your fleet and compete with other players.</p>
		</div>
		<div class="row" style="margin-top: 8em">
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <button id="signin" class="btn-default" style="width: 8em; height: 4em" onclick="signin()">Sign In</button>
            </div>
            <div class="col-lg-2">
                <button id="signup" class="btn-default" style="width: 8em; height: 4em">Sign Up</button>
            </div>
        </div>
	</div>
</body>
</html>