<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<title>Airline CEO</title>
</head>
<body>
	<div class="container" align="center">
		<div class="row" style="margin-top: 3em;">
			<h1>Welcome to Airline CEO!</h1>
			<p>This is a airline simulation game where you can build up your own airline, managing your fleet and compete with other players.</p>
		</div>
		<div class="row" style="margin-top: 5em;">
			<form method="POST" action="home/">
                {% csrf_token %}
				<input type="text" name="id" placeholder="ID">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Sign In">
			</form>
		</div>
	</div>
</body>
</html>