<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <title>My Company</title>
    <link type="text/css" rel="stylesheet" href="/static/home_common.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Agla4aScbJ0cZLFYwDtLMyUzLk8TDvLc3XFgM4hc_OfVFQVRHg-F1smElM0kAZvb'></script>
    <script type='text/javascript'>
        var map;
        function loadMapScenario() {
            map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                // locate canter in Pudong Airport
                center: new Microsoft.Maps.Location(31.1511206294,121.8088509900),
                zoom: 4});
            var polyline = new Microsoft.Maps.Polyline([
                new Microsoft.Maps.Location(30.2363630268,120.4384676377),
                new Microsoft.Maps.Location(35.548698425293,139.747100830078),], null);
            var polyline2 = new Microsoft.Maps.Polyline([
                new Microsoft.Maps.Location(30.2363630268,120.4384676377),
                new Microsoft.Maps.Location(12.548698425293,38.747100830078),], null);
            map.entities.push(polyline);
            map.entities.push(polyline2);
        }
    </script>
</head>
<body onload="loadMapScenario()">
    <div id="nav">
        <ul>
            <li><a href="/home/mycompany/" class="active">My Company</a></li>
            <li><a href="/home/finance/">Finance</a></li>
            <li><a href="/home/flight/">Flight</a></li>
            <li><a href="/home/plane/">Plane</a></li>
            <li><a href="/home/airport/">Airport</a></li>
            <li><a href="/home/ads/">Advertisement</a></li>
        </ul>
    </div>

    <div class="container" align="center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 style="margin-top: 3em;">Basic Info</h3>
                <table class="table" style="margin-top: 2em; margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td>Airline Name</td>
                            <td>{{ airline_name }}</td>
                        </tr>
                        <tr>
                            <td>Airline CEO</td>
                            <td>{{ airline_ceo }}</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>{{ start_time }}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>{{ location }}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <h3 style="margin-top: 3em;">Flight Routes</h3>
        <div class="row" style="margin-top: 2em;">
            <div class="col-lg-10 col-lg-offset-1">
                <div id="myMap" style="width: 100%; height: 500px; border: solid 2px;"></div>
            </div>
        </div>

        <h3 style="margin-top: 3em;">Statistics</h3>
        <div class="row" style="margin-top: 2em">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Passenger Transported Total</td>
                            <td>{{ passenger_transported_total }}</td>
                        </tr>
                         <tr>
                            <td>Passenger Transported Last Month</td>
                            <td>{{ passenger_transported_last_month }}</td>
                        </tr>
                         <tr>
                            <td>Number of Flights</td>
                            <td>{{ number_of_flights }}</td>
                        </tr>
                        <tr>
                            <td>Number of Planes</td>
                            <td>{{ number_of_planes }}</td>
                        </tr>
                        <tr>
                            <td>Number of Airports</td>
                            <td>{{ number_of_airports }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Profit Last Week</td>
                            <td>{{ profit_last_week }}</td>
                        </tr>
                         <tr>
                            <td>Profit Last Month</td>
                            <td>{{ profit_last_month }}</td>
                        </tr>
                         <tr>
                            <td>Most profitable Flight</td>
                            <td>{{ most_profitable_flight }}</td>
                        </tr>
                        <tr>
                            <td>Most Popular Flight</td>
                            <td>{{ most_popular_flight }}</td>
                        </tr>
                        <tr>
                            <td>Most Popular City</td>
                            <td>{{ most_popular_city }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>